body {font-family: 'Open Sans', sans-serif; font-size: 16px;}
h1, h2, h3, h4 {font-family: 'Quicksand', sans-serif; letter-spacing:-1px; margin-bottom: 10px; margin-top: 20px;}
h1 {font-size: 48px;}
h2 {font-size: 36px;}
h3 {font-size: 30px;}
h4 {font-size: 24px;}

.warning{color:red; font-weight:bold}

.microcopy{font-size: 14px;}

.inline {display: inline-block;}
.float_left{float: left;}
.float_right{float: right;}
.no_padding{padding: 0 !important}
.clearfix:after {clear: both; content: "."; display: block; height: 0; visibility: hidden;}
.clearfix {display: block;}
.bold {font-weight: bold;}

#page {width: 1181px; margin: 0 auto;}

/* General bootstrap overrides */
.row {margin: 0;}
label {font-weight: normal;}
.help-block {font-size: 14px}
.control-group {margin: 20px 0 0 0;}
.control-group input[type="text"], .control-group textarea {max-width: 720px; width: 100%;}
  
/* Header */
.top_btn{background-color: #3299bb; color: white}
.utility {float: right; padding: 10px 0;}
.utility li {float: left; margin: 0 0 0 10px;}

#top_bar{height: 80px;}
#top_bar .top_menu_bar{margin: 21px 0 6px 0; background-color: #222222; height: 48px;}
#top_bar .navbar-nav > li {float: left; margin: 0 25px; width: 80px;}
#top_bar ul {padding: 15px 0 0 0 !important;}
#top_bar .nav > li {display: block; position: relative;}
#top_bar .navbar-nav > li > a {color: #ffffff; padding: 0; width: 80px}
#top_bar .navbar-nav > li > a:hover {background-color: black; color: #e7f259;}
#top_bar .navbar-nav > li.selected > a {color: #e7f259;}
#top_bar .navbar-nav > li.musicians {background: url("/images/musicians.png") no-repeat top left; padding: 0 0 0 25px;}
#top_bar .navbar-nav > li.musicians.selected {background: url("/images/musicians_sel.png") no-repeat top left; padding: 0 0 0 25px;}
#top_bar .navbar-nav > li.trending {background: url("/images/trending.png") no-repeat top left; padding: 0 0 0 25px;}
#top_bar .navbar-nav > li.trending.selected {background: url("/images/trending_sel.png") no-repeat top left; padding: 0 0 0 25px;}
#top_bar .navbar-nav > li.venues {background: url("/images/venues.png") no-repeat top left; padding: 0 0 0 25px;}
#top_bar .navbar-nav > li.venues.selected {background: url("/images/venues_sel.png") no-repeat top left; padding: 0 0 0 25px;}
#top_bar .search_container {width: 554px; border-radius: 0 5px 5px 0;}
#top_bar .search_container_textfield {
  border: 1px solid #ccc;
  border-radius: 5px 5px 5px 5px;
  float: left;
  font-size: 14px;
  height: 33px;
  padding: 6px 4px;
  margin:7px;
  position: relative;
  width: 250px;
  background: url('/images/mag.png') right no-repeat;
  background-color: white;
  float: right;
}

/* Home */
.selection-nav > li {float: left; margin: 0;}
.selection-nav li > a {padding: 0 8px;}

/* Forms */
fieldset legend {margin: 0}
#email_wrapper, #dob_wrapper, #password_wrapper, #conf_password_wrapper, #musician_name_wrapper, 
#num_of_members_wrapper, #venue_name_wrapper, #address_wrapper, #address2_wrapper, #venue_type_wrapper,
#age_limit_wrapper, #capacity_wrapper {float: left; display: inline-block;}
#email_wrapper, #password_wrapper, #musician_name_wrapper, #num_of_members_wrapper, #venue_name_wrapper, #address_wrapper {margin-right: 20px;}
#email, #dob, #password, #conf_password, #musician_name, #venue_name, #address, #address2 {width: 350px;}
#favorite_genres li {display: block;float: left; margin: 0 0 0 -40px;
  width: 35%;   /* this controls the number of columns */
}
#favorite_genres li label {font-size: 14px;}
#city_wrapper, #state_wrapper, #zip_wrapper {float: left; display: inline-block;}
#city {width: 480px;}
#state {width: 50px;}
#zip {width: 150px;}
#city, #state {margin-right: 20px;}
#num_of_members_wrapper {width: 350px;}
#venue_type_wrapper, #age_limit_wrapper, #capacity_wrapper {width: 240px;}

/* Login popup */
#login a {color: white}  /* to override .ui-widget-content a */
.fl label {display: inline-block; padding: 0 10px 0 0; text-align: right; width: 100px;}
#login legend {margin-bottom: 20px;}
.ui-dialog-titlebar {display: none !important;}
.dialog_close {
    cursor: pointer;
    height: 36px;
    position: absolute;
    right: -18px;
    top: -18px;
    width: 36px;
    z-index: 8040;
    background-image: url("images/dialog_sprite.png");
}
/* Allow the close round image to be visible since it is positioned absolute outside */
.ui-dialog {overflow: visible !important; background: none repeat scroll 0 0 #F9F9F9 !important;}

/* Misc */
.left_spaced {margin: 0 0 0 20px;}
.prev-vid img {border-radius: 100%; margin-right: 20px;}
.prev-vid-row {border-bottom: 1px solid #DDDDDD; margin-bottom: 20px; padding-bottom: 5px;}
.prev-vid-row h1 {color: #AAAAAA; font-size: 52px; font-weight: bold; margin: 0;}
.prev-vid h4, .prev-vid h1 {margin-top: 0;}
#gig_name{width: 200px;}
.trending {color: #777777;}
.profile-pic img {border-radius: 100%; display: block; margin: 0 auto 8px;}
.video iframe {margin-bottom: 30px;}
.venue-table img {display: block; height: auto; max-width: 100%; width: 100%;}
.venue-table td {vertical-align: middle !important;}

/* Footer */
.footer {border-top: 1px solid #EFEFEF; margin: 60px 0 0;}
.footer ul {float: right; list-style: none outside none; margin: 0; padding: 0;}
.footer ul li {float: left;}
.footer > .nav > li > a {display: block; padding: 10px 15px; position: relative;}
.footer p {color: #888888; padding: 12px 0;}
