<div style ="background-color:#002c42; width:100%; height:100px; margin:0 auto; padding:0;"> <img src="http://www.showtown.co/images/logo.png" width="225" height="69" alt="Logo" style="padding:10px;">  </div>

<div style ="margin:0 auto; width:80%; ">
	<p style ="font-weight:bold; text-decoration:none; color:black;">Hi, {{user | safe}}!</p>
	<p>Welcome to ShowTown, a place to discover local musicians and get notified when they have a show near you!</p>
	<p>Please click on the button below to activate your account and start discovering new musicians.</p> 
</div>

<div style ="margin:0 auto; width:80%; color:#FFFFFF;text-align:center;margin-top:30px; margin-bottom:30px;"><button style ="background-color:#002c42; height:45px; border-radius:5px; border:0;"><a style ="color:#FFFFFF; text-decoration:None; font-size:12pt;" href="http://{{domain}}/activate?id={{user_id}}">Click here to activate your account</a></div>

<div style ="margin:0 auto; width:80%; ">
	<p style="font-weight:bold;">What you can do on ShowTown:</p>
	<p style ="color:blue; margin-bottom:2px;">Discover:</p>
	<p style="margin-top:0px;">On the home page you can choose the genre and location of the musicians you would like to see. Then, listen to the 2 videos featured head to head and choose the one you prefer with the like button. We save your likes so you can explore that musician's profile.</p>
	<p style ="color:blue; margin-bottom:2px;">Trending:</p>
	<p style ="margin-top:0px;">Check out the trending page to see which musicians are trending in different states and genres.</p>
	<p style ="color:blue;margin-bottom:2px;">Follow:</p>
	<p style ="margin-top:0px;">If you find a musician you really like, you can go to their profile page and follow them and we'll let you know when they're performing somewhere near you. </p>
	<p>Now go discover the next "insert your favorite artist here!"</p>
</div>

<div style ="margin:0 auto; width:80%; color:">
	<p>Cheers,</p>
	<p>Your Friends at ShowTown</p>
</div>

<div style ="width:100%; height:20px; color:#505050; text-align:center; margin-top:50px"> <nobr>Copyright 2013 ShowTown | All Rights Reserved</nobr>  </div>