<div style ="background-color:#002c42; width:100%; height:100px; margin:0 auto; padding:0;"> <img src="http://www.showtown.co/images/logo.png" width="225" height="69" alt="Logo" style="padding:10px;">  </div>

<div style ="margin:0 auto; width:80%; ">
	<p style ="font-weight:bold; text-decoration:none; color:black;">Hi, {{user|safe}}!</p>
	<p>Welcome to ShowTown, a place to get discovered, gain a following, and book gigs! </p>
	<p>Please click on the button below to activate your account.</p> 
</div>

<div style ="margin:0 auto; width:80%; color:#FFFFFF;text-align:center;margin-top:30px; margin-bottom:30px;"><button style ="background-color:#002c42; height:45px; border-radius:5px; border:0;"><a style ="color:#FFFFFF; text-decoration:None; font-size:12pt;" href="http://{{domain}}/activate?id={{user_id}}">Click here to activate your account</a></div>

<div style ="margin:0 auto; width:80%; ">
	<p style="font-weight:bold;">What you can do on ShowTown:</p>
	<p style ="color:blue; margin-bottom:2px;">Get Discovered:</p>
	<p style="margin-top:0px;">When you post a video on ShowTown it automatically gets featured against all the other musicians on the site. When fans go to the home page they are presented with these random matchups where they get to decide whose music they prefer. This is automatically getting you exposure to fans.</p>
	<p style ="color:blue; margin-bottom:2px;">You could be Trending:</p>
	<p style ="margin-top:0px;">The more your video is liked in the matchups and on your profile page, and the more followers you gain, the more likely you are to be trending. You could be trending in the specific genre of your video, your state, or nationally.</p>
	<p style ="color:blue;margin-bottom:2px;">Get Followers on ShowTown:</p>
	<p style ="margin-top:0px;">The beauty of having fans follow you on ShowTown is that we will notify them of your upcoming shows! And since we have geographic data on your fans we only message the ones in the area.</p>
	<p style ="color:blue;margin-bottom:2px;">Book Gigs (Coming Soon):</p>
	<p style ="margin-top:0px;">On the venues tab you will be able to see all of the venues that have gig openings. Simply click "see available gigs" and as long as you meet the genre criteria you apply with your video. Yes it's that easy! We also process the payment from the venue and send it right into your bank account.</p>
	<p>Now go become the next "insert your idol here!"</p>
</div>

<div style ="margin:0 auto; width:80%; color:">
	<p>Cheers,</p>
	<p>Your Friends at ShowTown</p>
</div>

<div style ="width:100%; height:20px; color:#505050; text-align:center; margin-top:50px"> <nobr>Copyright 2013 ShowTown | All Rights Reserved</nobr>  </div>