<div style ="background-color:#002c42; width:100%; height:100px; margin:0 auto; padding:0;"> <img src="http://www.showtown.co/images/logo.png" width="225" height="69" alt="Logo" style="padding:10px;">  </div>

<div style ="margin:0 auto; width:80%; ">
	<p style ="font-weight:bold; text-decoration:none; color:black;">Hi, {{user|safe}}!</p>
	<p>We received a request to reset your current ShowTown password. Please click on the button below to complete this process.</p>
	<p>If you did not initiate the request to change your password, please contact us at <a href="mailto:info@showtown.co">info@showtown.co</a>.</p> 
</div>

<div style ="margin:0 auto; width:80%; color:#FFFFFF;text-align:center;margin-top:30px; margin-bottom:30px;"><button style ="background-color:#002c42; height:45px; border-radius:5px; border:0;"><a style ="color:#FFFFFF; text-decoration:None; font-size:12pt;" href="http://www.showtown.co/account/reset?id={{user_id}}">Click here to reset your password</a></div>



<div style ="margin:0 auto; width:80%; color:">
	<p>Cheers,</p>
	<p>Your Friends at ShowTown</p>
</div>

<div style ="width:100%; height:20px; color:#505050; text-align:center; margin-top:50px"> <nobr>Copyright 2013 ShowTown | All Rights Reserved</nobr>  </div>