<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  {% include 'common_links.inc' %}
  <script src="javascript/venues.js"></script>
	<title>My Profile</title>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
  <div id="page">
    {% include 'header.html' %}
    <h1 class="pull-left">My Profile</h1>
    <h1 class="pull-right"><a href="/signup_fan" class="btn top_btn btn-default">Edit Profile</a></h1>
    <div class="clearfix"></div>
    <div class="microcopy">
      <div>
        <strong>You're following</strong> {% if followed_musicians %}{{followed_musicians | count}} {% else %} 0 {% endif %} Musicians. <strong>You've Participated in</strong> {% if participation %}{{participation | count}} {% else %}0 {% endif %} Matchups
        <span class="left_spaced bold">Favorite Genres: </span>{% for x in fan_profile.genres %} {{x}}  {% endfor %}
      </div>
		</div>
		<hr/>
	
    <h2>Upcoming Shows <small>by Musicians You Follow</small></h2>
	  <hr>
	{% if upcoming_shows %}
    <table class="table gigs">
			<thead>
				<tr>
					<th style="width: 150px;">Artist</th>
					<th style="width: 115px;">Venue</th>
					<th style="width: 200px">Show</th>
					<th style="width: 150px">Date / Time <b class="caret"></b></th>
					<th>Details</th>
				</tr>
			</thead>
			<tbody>
			  {% for us in upcoming_shows %}
				<tr>
					<td><strong><a href="{{us.artist_href}}">{{us.artist}}</a></strong></td>
					<td><a href="{{us.venue_href}}">{{us.venue}}</a></td>
					<td>{{us.show}}</td>
					<td><strong>{{us.date}}</strong><br> {{us.time}}</td>
					<td>
						<p>{{us.details}}</p>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
	  <p>No scheduled upcoming shows</p>
	{% endif %}
    <h2>Musicians You Follow</h2>
	  <hr>
	{% if followed_musicians %}
    {% for fm in followed_musicians %}
    <div class="row prev-vid-row">
			<div class="col-lg-6 prev-vid">
				<div class="col-lg-12">
					<img class="pull-left artist_image" src="/imgs?id={{fm.key.urlsafe()}}&width=100&height=100">
					<div class="previous_matchup_info">
    			  <div>
    			    <span class="musician_name">{{fm.band_name}} 
              <span class="microcopy informational middle">
                <i class="fa fa-thumbs-o-up"></i> 
                  <span id="mus_likes">{{fm.musician_stats.get('head_to_head_wins',0)+fm.musician_stats.get('likes',0)}}</span> Likes 
                  <i class="fa fa-users left_spaced"></i> {{fm.musician_stats.get('followers',0)}} Followers</span>
      			  </span>
    			  </div>
    			  <div>Liked {% if fm.musician_stats.get('total_matchups',0) ==0 %}0{% else %} {{((fm.musician_stats.get('head_to_head_wins',0) / fm.musician_stats.get('total_matchups',0))*100)|round|int}}{% endif %}% of the time</div>
    			  <div class="previous_matchup_info_links">
    			    <a href="/musician?id={{fm.key.urlsafe()}}"><i class="fa fa-user"></i>  Profile</a>
    			    <a href="/follow?id={{fm.key.urlsafe()}}&call_b=fan_profile&result=u"><i class="fa fa-times-circle"></i> unfollow</a>
    			  </div>
      		</div>
				</div>
			</div>
			    {% endfor %}
		</div>

	{% else %}
	  <p>You do not currently follow any musicians</p>
	{% endif %}

  <h2>Recent Match ups</h2>
   <hr>
	{% if participation %}
      {% for m in participation %}
      <div class="row prev-vid-row">
  			<div class="col-lg-6 prev-vid {% if m.voter_choice == m.video_one %}voted{% endif %}">
  				<div class="col-lg-8">
  					<img class="pull-left artist_image" src="/imgs?id={{m.video_one_artist_key.urlsafe()}}&width=100&height=100">
  					<div class="previous_matchup_info">
      			  <div>
      			    <span class="musician_name">{{m.video_one_name}} 
        			   {% if m.voter_choice == m.video_one %}<img src="/images/voted.png"/>{% endif %}
        			  </span>
      			  </div>
      			  <div>Liked {% if m.artist_one_stats.get('total_matchups',0) ==0 %}0{% else %} {{((m.artist_one_stats.get('head_to_head_wins',0) / m.artist_one_stats.get('total_matchups',0))*100)|round|int}}{% endif %}% of the time</div>
      			  <div class="previous_matchup_info_links">
      			    <a href="/musician?id={{m.video_one_artist_key.urlsafe()}}"><i class="fa fa-user"></i> Profile</a>
      			    {% if m.one_followed %} {% else %}<a href="/follow?id={{m.video_one_artist_key.urlsafe()}}&call_b=musician&result=f"><i class="fa fa-arrow-circle-right"></i> Follow</a> {% endif %}
      			  </div>
        		</div>
  				</div>
  			</div>
  			<div class="col-lg-6 prev-vid {% if m.voter_choice == m.video_two %}voted{% endif %}">
  				<div class="col-lg-8">
  					<img class="pull-left artist_image" src="/imgs?id={{m.video_two_artist_key.urlsafe()}}&width=100&height=100">
  					<div class="previous_matchup_info">
      			  <div>
      			    <span class="musician_name">{{m.video_two_name}} 
        			   {% if m.voter_choice == m.video_two %}<img src="/images/voted.png"/>{% endif %}
        			  </span>
      			  </div>
      			  <div>Liked {% if m.artist_two_stats.get('total_matchups',0) ==0 %}0{% else %} {{((m.artist_two_stats.get('head_to_head_wins',0) / m.artist_two_stats.get('total_matchups',0))*100)|round|int}}{% endif %}% of the time</div>
      			  <div class="previous_matchup_info_links">
      			    <a href="/musician?id={{m.video_two_artist_key.urlsafe()}}"><i class="fa fa-user"></i> Profile</a>
      			    {% if m.two_followed %} {% else %}<a href="/follow?id={{m.video_two_artist_key.urlsafe()}}&call_b=musician&result=f"><i class="fa fa-arrow-circle-right"></i> Follow</a>{% endif %}
      			  </div>
        		</div>
  				</div>
  			</div>
  		</div>
      {% endfor %}
  	{% else %}
    <p>No recent matchups.</p>
  	{% endif %}
    {% include 'footer.html' %}
  </div>
</body>
</html>





 

