<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  {% include 'common_links.inc' %}
	<title>FAQ</title>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
  <div id="page">
    {% include 'header.html' %}
    <h1>FAQ</h1>
    <div class="row">
      <ol>
        <li><strong>What is ShowTown?</strong><p>ShowTown gives musicians the opportunity to compete against one another and book gigs, while increasing their fan base.</p></li>
        <li><strong>Who can enter the competition?</strong><p>Any musician who thinks they would get Paula Abdul’s vote.</p></li>
        <li><strong>Are there any restrictions?</strong><p>For this particular competition we are not looking for Rap or Hip Hop artists. Any inappropriate non-music related videos will not be considered.</p></li>
        <li><strong>Will there be any future competitions to perform at other venues?</strong><p>Yes, we have been working with other venues in the area to host future winners.</p></li>
      </ol>
    </div>
    <div class="row">
    <p>So stay tuned for updates or feel free to contact us.</p>
    </div>
    {% include 'footer.html' %}
  </div>
</body>
</html>





 

