<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  {% include 'common_links.inc' %}
  <script src="javascript/find_musicians.js"></script>
	<title>Venues</title>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script  type="text/javascript">
	  var user_type = '{{user.account_type}}';
  	var selected_genre = '{{selected_genre|safe}}';
  	var selected_state = '{{selected_state|safe}}';
	</script>
</head>
<body>
  <div id="page">
    {% include 'header.html' %}
    <div class="microcopy">
      <a href="/">Home</a> <i class="fa fa-angle-double-right"></i> 
      <a href="/trending">Musicians</a> <i class="fa fa-angle-double-right"></i> 
      Find Musicians
    </div>
		<hr/>
    <h1>Find Musicians</h1>
    <div class="row">
      <div class="col-lg-12">
        <form>
					<fieldset>
						<div class="control-group col-lg-2">
						  <label for="genre" class="control-label">Genre</label>
						  <div class="controls">
						    <select class="input-xlarge" name="genre" id="genre-select">
							    {% for x in genres %}
							    <option{% if selected_genre == x %} selected{% endif %}>{{ x }}</option>
							    {% endfor %}
				
						    </select>
						  </div>
						</div>

						<div class="control-group col-lg-2">
						  <label for="states" class="control-label">State</label>
						  <div class="controls">
						    <select class="input-xlarge" name="state" id="state-select">
							    {% for x in states %}
            				<option{% if selected_state == x %} selected{% endif %}>{{ x }}</option>
      						{% endfor %}
						    </select>
						  </div>
						</div>
				
						<div class="control-group col-lg-2">
						  <label for="city" class="control-label">City</label>
						  <div class="controls">
						  	<select class="input-xlarge" name="city" id="city-select">

            				<option>All</option>
							        
						    </select>
						  </div>
						</div>



						<!-- <div class="control-group col-lg-3">
						  <label for="keywords" class="control-label">Keywords</label>
						  <div class="controls">
						    <input type="text" name="keywords" id="keywords">
						  </div>
						</div> -->

						<div class="control-group col-lg-2">
							<br>
							<p><a class="btn btn-primary" href="javascript:void(0)" onclick="do_search()">Search</a></p>
						</div>
			</fieldset>
		</form>
		<hr/>
		<div id="musician_data"></div>
		
    {% include 'footer.html' %}
  </div>
</body>
</html>





 

