
<div class="row">
	<ul class="nav utility">
	  <li class="active"><a href="/">Home</a></li>
	    {% if user %}
	  <li><a class="top_btn btn btn-default" href="/logout_handler">Sign Out</a></li>
	      {% if user.account_type == "fan" %}
	  <li><a class="top_btn btn btn-default" href="/fan_profile">My Profile</a></li>
	      {% elif user.account_type == "musician" %}
	  <li><a class="top_btn btn btn-default" href="/musician_profile">My Profile</a></li>
	      {% elif user.account_type == "venue" %}
	  <li><a class="top_btn btn btn-default" href="/venue_profile">My Profile</a></li>
	      {% endif %}
	    {% else %}
	  <li><a class="top_btn btn btn-default" href="javascript:void(0)" onclick="show_login_popup()">Login</a></li>
	  <li class=""><a data-toggle="dropdown" class="top_btn btn btn-default dropdown-toggle" href="#">Signup</a>
			<ul class="dropdown-menu">
				<li><a href="/signup_fan">I'm a Fan</a></li>
				<li><a href="/signup_musician">I'm a Musician</a></li>
				<li><a href="/signup_venue">I'm a Venue</a></li>
			</ul>
	  </li>
	    {% endif %}
	</ul>
</div>


<div id="top_bar">
  <div class="inline float_left"><a href="/"><img src="/images/top_bar.png" /></a></div>
  <div class="float_left top_menu_bar">
    <ul class="nav navbar-nav">
      <li class="musicians"><a href="/">Musicians</a></li>
      <li class="trending"><a href="/trending">Trending</a></li>
      <li class="venues"><a href="/venues">Venues</a></li>
    </ul>
  </div>
  <div class="top_menu_bar float_left search_container">
     <input type="text" name="search_people" placeholder="Search..."  class="search_container_textfield" size="30" value="" id="inputString" />
   </div>
</div>