<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% include 'common_links.inc' %}
	<script src="javascript/index.js"></script>
	<title>Home</title>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
  <div id="page">
    {% include 'header.html' %}
    <div class="microcopy">
			<p class="pull-right"><a href="find-musicians.html">Find Musicians »</a></p>
			<ul class="nav selection-nav no_padding">
				<li>You are currently comparing </li>
				<li class="dropdown">
				  <a data-toggle="dropdown" class="dropdown-toggle" id="selected_genre" href="javascript:void(0)"><b class="caret"></b></a>
          <ul class="dropdown-menu" id="genres_list"><!-- filled in by set_selection_nav --></ul>
        </li>
				<li>musicians in </li>
				<li class="dropdown">
				  <a data-toggle="dropdown" class="dropdown-toggle" id="selected_state" href="javascript:void(0)">Michigan<b class="caret"></b></a>
					<ul class="dropdown-menu">
				  {% for musicians_state in musicians_states %}
            <li><a href="javascript:void(0)" onclick="load_page_content(null,'{{musicians_state.abbr}}')">{{musicians_state.name}}</a></li>
          {% endfor %}
	        </ul>
				</li>
			</ul>
		</div>
		<br/>
		<hr/>
		<h1 class="text-center">HipHop/Rap Match Up</h1>
<!--
<iframe width="640" height="360" src="//www.youtube.com/embed/58kDMw779xc?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>

http://www.youtube.com/watch?feature=player_detailpage&v=58kDMw779xc
-->
		
    {% include 'footer.html' %}
  </div>
</body>
</html>





 

