<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% include 'common_links.inc' %}
	<script src="javascript/index.js"></script>
	<title>Home</title>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
  <div id="page">
    {% include 'header.html' %}
    <div class="microcopy">
			<p class="pull-right"><a href="find-musicians.html">Find Musicians »</a></p>
			<ul class="nav selection-nav no_padding">
				<li>You are currently comparing </li>
				<li class="dropdown">
				  <a data-toggle="dropdown" class="dropdown-toggle" id="selected_genre" href="javascript:void(0)"><b class="caret"></b></a>
          <ul class="dropdown-menu" id="genres_list"><!-- filled in by set_selection_nav --></ul>
        </li>
				<li>musicians in </li>
				<li class="dropdown">
				  <a data-toggle="dropdown" class="dropdown-toggle" id="selected_state" href="javascript:void(0)">Michigan<b class="caret"></b></a>
					<ul class="dropdown-menu">
				  {% for musicians_state in musicians_states %}
            <li><a href="javascript:void(0)" onclick="load_page_content(null,'{{musicians_state.abbr}}')">{{musicians_state.name}}</a></li>
          {% endfor %}
	        </ul>
				</li>
			</ul>
		</div>
		<br/>
		<hr/>
		{% if vids %}
		<h1 class="text-center">New Video Match Up</h1>
		<p class="text-center">Please watch both videos and select the musician you prefer</p>
		<br/>
		<p class ="text-center" id="error"></p>
		<div class="col-lg-6 video">
			<iframe id="left_iframe" width="490" height="300" frameborder="0" allowfullscreen="" src=""></iframe>
			  {% if user %}
			<p class="text-center"><a id="left_url" href="" class="btn btn-primary signup">I Like This</a></p>
			  {% else %}
			<!--<p class="text-center">Login to vote</p> --> 
			  {% endif %}
			<h2 id="left_musician_name" class="text-center"></h2>
			<h3 id="left_song_name" class="text-center"></h3>
		</div>
    <div class="col-lg-6 video">
			<iframe id="right_iframe" width="490" height="300" frameborder="0" allowfullscreen="" src=""></iframe>
			  {% if user %}
			<p class="text-center"><a id="right_url" href="" class="btn btn-primary signup">I Like This</a></p>
			  {% else %}
			<!--<p class="text-center">Login to vote</p> --> 
			  {% endif %}
			<h2 id="right_musician_name" class="text-center"></h2>
			<h3 id="right_song_name" class="text-center"></h3>
		</div>
		<div class="row">
			<div class="col-lg-12 clear">
			    {% if user %}
				<p class="text-center"><a id="draw_url" href="" class="btn btn-default text-center signup">I can't decide, it's a draw</a></p>
				  {% else %}
  			<p class="text-center">Login to vote</p>  
  			  {% endif %}
		{% else %}
		<p>No new match-ups for you to view</p>
		{% endif %}
			</div>
		</div>
		{% if matchups %}
		<h2>Previous Match ups</h2>
	  <hr>
    
      {% for m in matchups %}
      <div class="row prev-vid-row">
  			<div class="col-lg-6 prev-vid">
  				<div class="col-lg-8">
  					<img class="pull-left" src="/imgs?id={{m.video_one_artist_key.urlsafe()}}&width=100&height=100">
  					<h4>{{m.video_one_name}}</h4>
  					<div>{% if m.voter_choice == m.video_one %}<img src="/images/voted.png"/>{% endif %}</div>
  					<div><a href="/musician?id={{m.video_one_artist_key.urlsafe()}}"><img src="/images/profile.png"/>Profile</a></div>
  					<div><img src="/images/follow.png"/>Follow</div>
  				</div>
  			</div>
  			<div class="col-lg-6 prev-vid voted">
  				<div class="col-lg-8">
  					<img class="pull-left" src="/imgs?id={{m.video_two_artist_key.urlsafe()}}&width=100&height=100">
  					<h4>{{m.video_two_name}}</h4>
  					<div>{% if m.voter_choice == m.video_two %}<img src="/images/voted.png"/>{% endif %}</div>
  					<div><a href="/musician?id={{m.video_two_artist_key.urlsafe()}}"><img src="/images/profile.png"/>Profile</a></div>
  					<div><img src="/images/follow.png"/>Follow</div>
  				</div>
  			</div>
  		</div>
      {% endfor %}
  	{% else %}
  	
  	{% endif %}
    {% include 'footer.html' %}
  </div>
</body>
</html>





 

