<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% include 'common_links.inc' %}
	<script src="javascript/index.js"></script>
	<title>Home</title>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script  type="text/javascript">
  	var genres = {{genres|safe}};
  	var states = {{musicians_states|safe}};
	</script>
</head>
<body>
  <div id="page">
    {% include 'header.html' %}
    <div class="microcopy">
			<p class="pull-right"><a href="find_musicians">Find Musicians »</a></p>
			<ul class="nav selection-nav no_padding">
				<li>You are currently comparing </li>
				<li class="dropdown">
				  <a data-toggle="dropdown" class="dropdown-toggle" id="selected_genre" href="javascript:void(0)"><span></span><b class="caret"></b></a>
          <ul class="dropdown-menu" id="genres_list"><!-- filled in by init_page --></ul>
        </li>
				<li>musicians in </li>
				<li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" id="selected_state" href="#"><span></span><b class="caret"></b></a>
					<ul class="dropdown-menu" id="states_list"><!-- filled in by init_page --></ul>
				</li>
			</ul>
		</div>
		<hr/>

		<h1 class="text-center" id="matchup_title">New Video Match Up</h1>
		<br/>
		<p class ="text-center" id="error"></p>
    <div class ="row" id="video-matchup">
  		<div class="video">
  			<iframe id="left_iframe" width="490" height="300" frameborder="0" allowfullscreen="" src=""></iframe>
				<div class="text-center matchup_video_title">
  			  <span id="left_musician_name"  class="musician_name"></span>&nbsp;
  			  <span id="left_song_name"></span>
    		</div>
    		  {% if user %}
  			<p class="text-center"><a id="left_url" href="" class="btn btn-primary signup"><i class="fa fa-thumbs-o-up"></i> I Like This</a></p>
  			  {% else %}
  			<p class="text-center"><a class="btn btn-primary signup" href="javascript:void(0)" onclick="show_login_popup()">Login to Like This</a></p>
  			  {% endif %}
  		</div>
      <div class="video">
  			<iframe id="right_iframe" width="490" height="300" frameborder="0" allowfullscreen="" src=""></iframe>
  			<div class="text-center matchup_video_title">
  			  <span id="right_musician_name"  class="musician_name"></span>&nbsp;
  			  <span id="right_song_name"></span>
  			</div>
  			  {% if user %}
  			<p class="text-center"><a id="right_url" href="" class="btn btn-primary signup"><i class="fa fa-thumbs-o-up"></i> I Like This</a></p>
  			  {% else %}
  			<p class="text-center"><a class="btn btn-primary signup" href="javascript:void(0)" onclick="show_login_popup()">Login to Like This</a></p>
  			    {% endif %}  
  		</div>
  		<img src="/images/matchup_vs.png" id="matchup_vs">
  		<img id="left_image" class="artist_image">
  		<img id="right_image" class="artist_image">
    </div>

		<div class="row">
			<div class="col-lg-12 clear" id="draw-div">
			    {% if user %}
				<p class="text-center"><a id="draw_url" href="" class="btn btn-deemphasize text-center signup">I can't decide, it's a draw</a></p>
				  {% else %}
			  <p class="text-center"><a class="btn btn-deemphasize signup" href="javascript:void(0)" onclick="show_login_popup()">Login to make it a draw</a></p> 
  			  {% endif %}

			</div>
		</div>
		{% if matchups %}
		<h2>Previous Match ups</h2>
	  <hr>
      {% for m in matchups %}
      <div class="row prev-vid-row">
  			<div class="col-lg-6 prev-vid {% if m.voter_choice == m.video_one %}voted{% endif %}">
  				<div class="col-lg-8">
  					<img class="pull-left artist_image" src="/imgs?id={{m.video_one_artist_key.urlsafe()}}&width=100&height=100">
  					<div class="previous_matchup_info">
      			  <div>
      			    <span class="musician_name">{{m.video_one_name}} 
        			   {% if m.voter_choice == m.video_one %}<img src="/images/voted.png"/>{% endif %}
        			  </span>
      			  </div>
      			  <div>Liked {{m.one_win_percent}}% of the time</div>
      			  <div class="previous_matchup_info_links">
      			    <a href="/musician?id={{m.video_one_artist_key.urlsafe()}}"><i class="fa fa-user"></i> Profile</a>
      			    {% if m.one_followed %} {% else %}<a href="/follow?id={{m.video_one_artist_key.urlsafe()}}&call_b=musician&result=f"><i class="fa fa-arrow-circle-right"></i> Follow</a> {% endif %}
      			  </div>
        		</div>
  				</div>
  			</div>
  			<div class="col-lg-6 prev-vid {% if m.voter_choice == m.video_two %}voted{% endif %}">
  				<div class="col-lg-8">
  					<img class="pull-left artist_image" src="/imgs?id={{m.video_two_artist_key.urlsafe()}}&width=100&height=100">
  					<div class="previous_matchup_info">
      			  <div>
      			    <span class="musician_name">{{m.video_two_name}} 
        			   {% if m.voter_choice == m.video_two %}<img src="/images/voted.png"/>{% endif %}
        			  </span>
      			  </div>
      			  <div>Liked {{m.two_win_percent}}% of the time</div>
      			  <div class="previous_matchup_info_links">
      			    <a href="/musician?id={{m.video_two_artist_key.urlsafe()}}"><i class="fa fa-user"></i> Profile</a>
      			    {% if m.two_followed %} {% else %}<a href="/follow?id={{m.video_two_artist_key.urlsafe()}}&call_b=musician&result=f"><i class="fa fa-arrow-circle-right"></i> Follow</a>{% endif %}
      			  </div>
        		</div>
  				</div>
  			</div>
  		</div>
      {% endfor %}
  	{% else %}
  	
  	{% endif %}
    {% include 'footer.html' %}
  </div>
</body>
</html>





 

