<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  {% include 'common_links.inc' %}
	<title>{{musician.band_name}}</title>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
  <div id="page">
    {% include 'header.html' %}
    <h1 class="pull-left">{{musician.band_name}} <small>{{likes}} Likes and {{followers}} Followers</h1>
    <h1 class="pull-right">
      {% if is_following %}
		<a href="/follow?id={{musician.key.urlsafe()}}&call_b=musician&result=u" class="btn btn-primary">Unfollow {{musician.band_name}}</a>
	  {% else %}
		<a href="/follow?id={{musician.key.urlsafe()}}&call_b=musician&result=f" class="btn btn-primary">Follow {{musician.band_name}}</a>
	  {% endif %}

    </h1>
    <div class="clearfix"></div>
    <div class="microcopy">
      <p>
        <strong>Genre: </strong>{{musician.genre}} / Located in {{musician.address[0].city}}, {{musician.address[0].state}} / Born {{musician.DOB}}
      </p>
      <p>
        <a class="trending" href="/trending">
           Trending: <strong>#{{trending_rank}}</strong> out of <strong>{{trending_category}}</strong> in <strong>{{trending_state}}</strong>
        </a>
      </p>
		</div>
		<hr/>
    <div class="row">
      <div class="col-lg-2 profile-pic">
    		<img class="artist_image" src="/imgs?id={{musician.key.urlsafe()}}&width=165&height=165">
    		{% if musician.twitter %}<p class="text-center"><a href="{{musician.twitter}}" target="_blank" class="btn btn-default">Twitter</a></p>{% endif %}
    		{% if musician.facebook %}<p class="text-center"><a href="{{musician.facebook}}" target="_blank" class="btn btn-default">Facebook</a></p>{% endif %}
    		{% if musician.sound_cloud %}<p class="text-center"><a href="{{musician.sound_cloud}}" target="_blank" class="btn btn-default">SoundCloud</a></p>{% endif %}
			{% if musician.video_hosting_page %}<p class="text-center"><a href="{{musician.video_hosting_page}}" target="_blank" class="btn btn-default">YouTube / Vimeo</a></p>{% endif %}
    	</div>
      <div class="col-lg-10">
   			<h4>Biography</h4>
			<p>{{musician.bio}}</p>
			<br>
			
  			<h4>Upcoming Shows</h4>
			{% if gigs %}
  			<table class="table gigs">
    			<thead>
    				<tr>
    					<th>Venue</th>
    					<th>Gig Name</th>
    					<th>Date / Time <b class="caret"></b></th>
    					<th>Details</th>
    					<th>Compensation</th>
    				</tr>
    			</thead>
    			<tbody>
					  {% for b in booked_gigs %}
    				<tr>
    					<td><a href="/venue?id={{b.venue_id}}">{{b.venue}}</a></td>
    					<td>{{b.gig_name}}</td>
    					<td><strong>{{b.date}}</strong><br> {{b.time}}</td>
    					<td>
    						<ul>
    						  {% for d in b.detail_list %}
  								<li><strong>{{d}}</strong></li>
  								{% endfor %}
    							<li><strong>Genres:</strong> {{b.genres}}</li>
    						</ul>
    						<p>{{b.detail_description}}</p>
    					</td>
    					<td>${{b.compemsation}}</td>
    				</tr>
    				{% endfor %}
    			</tbody>
  			</table>
			{% else %}
			<p>No booked gigs</p>
			{% endif %}
  			<hr>
  			<br>
  			
  		</div>
    </div>    
    <div class="row">
			<h2>Videos</h2>
			<hr class="clear">
			{% if videos %}
			{% for v in videos %}
			<div class="col-lg-6 video {% if v.featured %} featured {% endif %}">
				<iframe width="490" height="300" frameborder="0" allowfullscreen="" src="{{v.embed_link}}"></iframe>
          {% if v.featured %}
				  <h2 class="text-center featured"><span>Featured:</span> {{v.video_title}} <br><small>{{v.likes_count}} Likes. Wins {{v.matchup_wins_percent}}% of Match Ups</small></h2>
					{% else %}
				  <h2 class="text-center">{{v.video_title}} <br><small>{{v.likes_count}} Likes. Wins {{v.matchup_wins_percent}}% of Match Ups</small></h2>
					{% endif %}

  				
			</div>
			{% endfor %}
			{% else %}
			<p>No videos at this time</p>
			{% endif %}
		</div>
    {% include 'footer.html' %}
  </div>
</body>
</html>
