<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  {% include 'common_links.inc' %}
	<title>{{musician.band_name}}</title>
	<script src="javascript/musician.js"></script>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
  <div id="page">
    {% include 'header.html' %}
    <div class="microcopy">
      <a href="/">Home</a> <i class="fa fa-angle-double-right"></i> 
      <a href="/trending">Musicians</a> <i class="fa fa-angle-double-right"></i> 
      {{musician.band_name}}
    </div>
		<hr/> 
    <div class="row">
      <div class="col-lg-2 profile-pic">
    		<img class="artist_image" src="/imgs?id={{musician.key.urlsafe()}}&width=165&height=165" />
    		<img src="/images/trending_round.png" />
    		<p class="center">
          <strong>Trending #{{musician.state_rank}}</strong> out of <br/>
          <a href="/trending">
            <strong>{{state_count}}</strong> in <strong>{{musician.musician_state}}</strong>
          </a>
          <div><a href="{{musician.facebook}}" target="_blank">FB</a></div>
          <div><a href="{{musician.twitter}}" target="_blank">twitter</a></div>
          <div><a href="{{musician.sound_cloud}}" target="_blank">sound_cloud</a></div>
          <div><a href="{{musician.video_hosting_page}}" target="_blank">video_hosting_page</a></div>
        </p>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_twitter"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-535f25a708c8a1e9"></script>
        <!-- AddThis Button END -->
    	</div>
      <div class="col-lg-10">
        <div class="row">
          <h1 class="pull-left">{{musician.band_name}} 
            <span class="microcopy informational middle"><i class="fa fa-thumbs-o-up"></i> <span id="mus_likes">{{musician.musician_stats.get('likes',0) + musician.musician_stats.get('head_to_head_wins',0)}}</span> Likes 
              <i class="fa fa-users left_spaced"></i> {{musician.musician_stats.get('followers',0)}} Followers</span>
          </h1>
        </div>
        <div class="row">
          <div class="microcopy">
            <p>
              Genre: <strong>{% for x in musician.band_genre %}{{ x }} {% endfor %}</strong> 
              <span class="left_spaced">Location: <strong>{{musician.address[0].city}}, {{musician.address[0].state}}</strong></span>  
              <span class="left_spaced">Born: <strong>{% if musician.DOB %}{{musician.DOB.strftime('%B %d, %Y')}} {% else %}{% endif %}</strong></span>
            </p>
      		</div>
        </div>
		{% if hide %}
		{% else %}
        {% if user %}
        {% if is_following %}
    		<a href="/follow?id={{musician.key.urlsafe()}}&call_b=musician&result=u" class="btn btn-notice"><i class="fa fa-times-circle"></i> Unfollow</a>
    	  {% else %}
    		<a href="/follow?id={{musician.key.urlsafe()}}&call_b=musician&result=f" class="btn btn-notice"><i class="fa fa-arrow-circle-right"></i> Follow</a>
    	  {% endif %}
        {% else %}
		{% endif %}
		{% endif %}
        
        <div class="row">
     			<h4>Biography</h4>
  			  <p>{{musician.bio}}</p>
  			</div>
			
  			<h4>Upcoming Shows</h4>
			{% if gigs %}
  			<table class="table gigs">
    			<thead>
    				<tr>
    					<th>Venue</th>
    					<th>Gig Name</th>
    					<th>Date / Time <b class="caret"></b></th>
    					<th>Details</th>
    					<th>Compensation</th>
    				</tr>
    			</thead>
    			<tbody>
					  {% for b in booked_gigs %}
    				<tr>
    					<td><a href="/venue?id={{b.venue_id}}">{{b.venue}}</a></td>
    					<td>{{b.gig_name}}</td>
    					<td><strong>{{b.date}}</strong><br> {{b.time}}</td>
    					<td>
    						<ul>
    						  {% for d in b.detail_list %}
  								<li><strong>{{d}}</strong></li>
  								{% endfor %}
    							<li><strong>Genres:</strong> {{b.genres}}</li>
    						</ul>
    						<p>{{b.detail_description}}</p>
    					</td>
    					<td>${{b.compemsation}}</td>
    				</tr>
    				{% endfor %}
    			</tbody>
  			</table>
			{% else %}
			<p>No booked gigs</p>
			{% endif %}
  			<div class="row">
    			<h2>Videos</h2>
    			<hr class="clear">
    			{% if videos %}
    			{% for v in videos %}
    			<div class="col-lg-6 video {% if v.featured %} featured {% endif %}">
    				<iframe width="490" height="300" frameborder="0" allowfullscreen="" src="{{v.embed_link}}"></iframe>
              {% if v.featured %}
    				  <h2 class="text-center featured"><span>Featured:</span> {{v.video_title}}</h2>
    				  <div class="text-center">Wins {% if v.video_stats.get('total_matchups',0) ==0 %}0{% else %} {{((v.video_stats.get('head_to_head_wins',0) / v.video_stats.get('total_matchups',0))*100)|round|int}}{% endif %}% of Match Ups</div>
    				  <h4 class="text-center informational">
    				    <a href="javascript:void(0)" onclick="like_musician('{{musician.key.urlsafe()}}','{{v.key.urlsafe()}}')">
    				      <img src="/images/voting.png">
    				    </a> <span id="{{v.key.urlsafe()}}">{{v.video_stats.get('likes',0) + v.video_stats.get('head_to_head_wins',0)}}</span> Likes.</h4>
    					{% else %}
    				  <h2 class="text-center">{{v.video_title}}</h2>
              <div class="text-center">Wins {% if v.video_stats.get('total_matchups',0) ==0 %}0{% else %} {{((v.video_stats.get('head_to_head_wins',0) / v.video_stats.get('total_matchups',0))*100)|round|int}}{% endif %}% of Match Ups</div>
    				  <h4 class="text-center informational">
    				    <a href="javascript:void(0)" onclick="like_musician('{{musician.key.urlsafe()}}', '{{v.key.urlsafe()}}')">
    				      <img src="/images/voting.png" />
    				    </a> <span id="{{v.key.urlsafe()}}">{{v.video_stats.get('likes',0) + v.video_stats.get('head_to_head_wins',0)}}</span> Likes.</h4>
    					{% endif %}
    			</div>
    			{% endfor %}
    			{% else %}
    			<p>No videos at this time</p>
    			{% endif %}
    		</div>
  		</div>  <!-- col-lg-10 -->
    </div>    <!-- row -->
    {% include 'footer.html' %}
  </div>
</body>
</html>
