<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  {% include 'common_links.inc' %}
	<title>Edit your Showtown Profile</title>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
  <div id="page">
    {% include 'header.html' %}
    <div class="row">
  		<div class="col-lg-8 col-lg-offset-2">
  			<h1>Edit your Showtown Profile</h1>
  			<form class="form-horizontal" action="/profile_edit" method="POST" enctype="multipart/form-data">
  			  <input type="hidden" name="user_type" value="musician">
    			<fieldset>
      			<div class="control-group" id="musician_name_wrapper">
      			  <label for="musician_name" class="control-label">Musician or Band Name</label>
      			  <div class="controls">
      			    <input type="text" class="input-xlarge" placeholder="" name="musician_name" id="musician_name" value ="{{profile.band_name}}">
      			  </div>
      			</div>
    				<div class="control-group" id="email_wrapper">
    				  <label for="email" class="control-label">Email</label>
    				  <div class="controls">
    				    <input type="text" required="" class="input-xlarge" placeholder="email@domain.com" name="email" id="email" value="{{profile.email}}">
    				  </div>
    				</div>
    				<div class="clearfix"></div>
    				<div class="control-group" id="password_wrapper">
    				  <label for="password" class="control-label">Password</label>
    				  <div class="controls">
    				    <input type="password" class="input-xlarge" placeholder="" name="password" id="password">
    				    <p class="help-block">Type in password</p>
    				  </div>
    				</div>
    				<div class="control-group" id="conf_password_wrapper">
    				  <label for="conf_password" class="control-label">&nbsp;</label>
    				  <div class="controls">
    				    <input type="password" class="input-xlarge" placeholder="" name="conf_password" id="conf_password">
    				    <p class="help-block">Confirm password</p>
    				  </div>
    				</div>
    				<div class="clearfix"></div>
      			<div class="control-group" id="city_wrapper">
      			  <label for="city" class="control-label">City</label>
      			  <div class="controls">
      			    <input type="text" class="input-xlarge" placeholder="" name="city" id="city" value ="{{profile.address[0].city}}">
      			  </div>
      			</div>
      			<div class="control-group" id="state_wrapper">
      			  <label for="state" class="control-label">State</label>
      			  <div class="controls">
      			    <input type="text" class="input-xlarge" placeholder="" name="state" id="state" value ="{{profile.address[0].state}}">
      			  </div>
      			</div>
      			<div class="control-group" id="zip_wrapper">
      			  <label for="zip" class="control-label">Zipcode</label>
      			  <div class="controls">
      			    <input type="text" class="input-xlarge" placeholder="" name="zip" id="zip" value ="{{profile.address[0].zip}}">
      			  </div>
      			</div>
    			</fieldset>
    			<br>
    			<fieldset>
    				<legend>Customize Your Profile (optional)</legend>
      			<div class="control-group">
      			  <label for="file_upload" class="control-label">Profile Picture</label>
      			  <div class="controls">
      			    <input type="file" class="input-file" name="file_upload" id="file_upload">
      			  </div>
      			</div>
      			<div class="control-group"  id="num_of_members_wrapper">
      			  <label for="num_of_members" class="control-label"># of Band Members</label>
      			  <div class="controls">
      			    <input type="text" class="input-xlarge" placeholder="" name="num_of_members" id="num_of_members" value = "{{profile.num_of_members}}">
      			  </div>
      			</div>
	    			<div class="control-group"  id="dob_wrapper">
      			  <label for="dob" class="control-label">Date of Birth</label>
      			  <div class="controls">
      			    <input type="text" class="input-xlarge" placeholder="MM/DD/YYYY" name="dob" id="dob" value="{{profile.DOB}}">
      			  </div>
      			</div>
      			<div class="clearfix"></div>
      			<div class="control-group">
      			  <label for="bio" class="control-label">Brief Bio (500 charecters)</label>
      			  <div class="controls">                     
      			    <textarea name="bio" id="bio">{{profile.bio}}</textarea>
      			  </div>
      			</div>
      			<div class="control-group">
      			  <label for="facebook" class="control-label">Facebook</label>
      			  <div class="controls">
      			    <input type="text" class="input-xlarge" placeholder="" name="facebook" id="facebook" value="{{profile.facebook}}">
      			  </div>
      			</div>
      			<div class="control-group">
      			  <label for="twitter" class="control-label">Twitter</label>
      			  <div class="controls">
      			    <input type="text" class="input-xlarge" placeholder="" name="twitter" id="twitter"value ="{{profile.twitter}}">
      			  </div>
      			</div>
      			<div class="control-group">
      			  <label for="sound_cloud" class="control-label">Sound Cloud</label>
      			  <div class="controls">
      			    <input type="text" class="input-xlarge" placeholder="" name="sound_cloud" id="sound_cloud" value ="{{profile.sound_cloud}}">
      			  </div>
      			</div>
      			<div class="control-group">
      			  <label for="video_hosting_page" class="control-label">YouTube or Vimeo page</label>
      			  <div class="controls">
      			    <input type="text" class="input-xlarge" placeholder="" name="video_hosting_page" id="video_hosting_page" value ="{{profile.video_hosting_page}}">
      			  </div>
      			</div>
      			<br>
      			<input class="btn btn-primary" type="submit" value="Sign Up" />
    			</fieldset>
  			</form>
  		</div>
    </div>
    {% include 'footer.html' %}
  </div>
</body>
</html>





 

