<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  {% include 'common_links.inc' %}
	<title>Reset Password</title>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
  <div id="page">
    {% include 'header.html' %}
    <h1>Reset your password below:</h1>
    <p>Enter and confirm a new password</p>
    <form action = "/account/reset" method = "post">
            <input type="hidden" name="acct_key" value="{{acct_key}}">
            <div class="control-group" id="password_wrapper">
              <label for="password" class="control-label">Password</label>
              <div class="controls">
                <input type="password" class="input-xlarge" name="password" id="password">
                <p class="help-block">Type in password</p>
              </div>
              <div class ="warning">{{response}}</div>
            </div>
            <div class="control-group" id="conf_password_wrapper">
              <label for="conf_password" class="control-label">Confirm Password</label>
              <div class="controls">
                <input type="password" class="input-xlarge" name="conf_password" id="conf_password">
                <p class="help-block">Confirm password</p>
              </div>
              <br>
              <input class="btn btn-primary" type="submit"/>
    </form>
    
    
    {% include 'footer.html' %}
  </div>
</body>
</html>