<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  {% include 'common_links.inc' %}
	{% if user %}
	<title>Edit your Showtown Profile</title>
	{% else %}
	<title>Venue Sign Up</title>
	{% endif %}
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
  <div id="page">
    {% include 'header.html' %}
    <div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				{% if user %}
				<h1>Edit your Showtown Profile</h1>
				{% else %}
				<h1>Sign Up to Showtown</h1>
				<p>Sign up to <strong>post gigs</strong> and <strong>book musicians.</strong></p>
				{% endif %}
				<form class="form-horizontal" action="/signup" method="POST" enctype="multipart/form-data">
				  <input type="hidden" name="user_type" value="venue">
				  <fieldset>
					<div class ="warning">{{error}}</div>
    				<div class="control-group" id="venue_name_wrapper">
    				  <label for="venue_name" class="control-label">Venue Name: <span class="form-required" title="This field is required.">*</span></label>
    				  <div class="controls">
    				    <input type="text" required="True" class="input-xlarge" placeholder="" name="venue_name" id="venue_name" value="{{venue_name[0]}}">
    				  </div>
    				</div>
    				<div class="control-group" id="email_wrapper">
    				  <label for="email" class="control-label">Email: <span class="form-required" title="This field is required.">*</span></label>
    				  <div class="controls">
    				    <input type="text" required="" class="input-xlarge" placeholder="email@domain.com" name="email" id="email" value="{{email[0]}}">
    				  </div>
					<div class ="warning">{{email_error}}</div>
    				</div>
    				<div class="clearfix"></div>
    				<div class="control-group" id="password_wrapper">
    				  <label for="password" class="control-label">Password: <span class="form-required" title="This field is required.">*</span></label>
    				  <div class="controls">
    				    <input type="password" required="True" class="input-xlarge" {% if user %} placeholder="Enter new password to change" {% endif %} name="password" id="password">
    				    <p class="help-block">Type in password</p>
    				  </div>
    				</div>
    				<div class="control-group" id="conf_password_wrapper">
    				  <label for="conf_password" class="control-label">&nbsp;</label>
    				  <div class="controls">
    				    <input type="password" required="True" class="input-xlarge" {% if user %} placeholder="Confirm New Password" {% endif %} name="conf_password" id="conf_password">
    				    <p class="help-block">Confirm password</p>
    				  </div>
					<div class ="warning">{{passwords_error}}</div>
    				</div>
    				<div class="clearfix"></div>
    				<div class="control-group" id="address_wrapper">
    				  <label for="address" class="control-label">Address: <span class="form-required" title="This field is required.">*</span></label>
    				  <div class="controls">
    				    <input type="text" required="True" class="input-xlarge" placeholder="" name="address" id="address" value="{{address[0]}}">
    				  </div>
    				</div>
    				<div class="control-group" id="address2_wrapper">
    				  <label for="address2" class="control-label">Address 2</label>
    				  <div class="controls">
    				    <input type="text" class="input-xlarge" placeholder="" name="address2" id="address2" value="{{address2[0]}}">
    				  </div>
    				</div>
    				<div class="clearfix"></div>
      			<div class="control-group" id="city_wrapper">
      			  <label for="city" class="control-label">City: <span class="form-required" title="This field is required.">*</span></label>
      			  <div class="controls">
      			    <input type="text" required="True" class="input-xlarge" placeholder="" name="city" id="city" value = "{{city[0]}}">
      			  </div>
      			</div>
      			<div class="control-group" id="state_wrapper">
      			  <label for="state" class="control-label">State: <span class="form-required" title="This field is required.">*</span></label>
      			  <div class="controls">
      			    <input type="text" required="True" class="input-xlarge" placeholder="" name="state" id="state" value="{{state[0]}}">
      			  </div>
      			</div>
      			<div class="control-group" id="zip_wrapper">
      			  <label for="zip" class="control-label">Zipcode: <span class="form-required" title="This field is required.">*</span></label>
      			  <div class="controls">
      			    <input type="text" required="True" class="input-xlarge" placeholder="" name="zip" id="zip" value="{{zip[0]}}">
      			  </div>
      			</div>
      			<div class="clearfix"></div>
      			<div class="control-group" id="phone1_wrapper">
      			  <label for="phone1" class="control-label">Phone number:</label>
      			  <div class="controls">
      			    <input type="text" class="input-xlarge" placeholder="" name="phone1" id="phone1" value="{{phone1[0]}}">
      			  </div>
      			</div>
      			<div class="control-group" id="phone1_wrapper">
      			  <label for="venue_url" class="control-label">Website:</label>
      			  <div class="controls">
      			    <input type="text" class="input-xlarge" placeholder="http://www.domain.com" name="venue_url" id="venue_url" value="">
      			  </div>
      			</div>
      			<div class="clearfix"></div>
    				<div class="control-group" id="venue_type_wrapper">
    				  <label for="venue_type" class="control-label">Venue Type: <span class="form-required" title="This field is required.">*</span></label>
    				  <div class="controls">
    				    <select required="True" class="input-xlarge" name="venue_type" id="venue_type">
    				      <option {% if venue_type[0] == "Bar" %} selected="true" {% endif %}>Bar</option>
    				      <option {% if venue_type[0] == "Coffee Shop" %} selected="true" {% endif %}>Coffee Shop</option>
    				      <option {% if venue_type[0] == "Concert House" %} selected="true" {% endif %}>Concert House</option>
    				      <option {% if venue_type[0] == "Festival" %} selected="true" {% endif %}>Festival</option>
    				      <option {% if venue_type[0] == "Restaurant" %} selected="true" {% endif %}>Restaurant</option>
    				      <option {% if venue_type[0] == "Music Venue" %} selected="true" {% endif %}>Music Venue</option>
    				      <option {% if venue_type[0] == "Nightclub" %} selected="true" {% endif %}>Nightclub</option>
    				      <option {% if venue_type[0] == "Other" %} selected="true" {% endif %}>Other</option>
    				    </select>
    				  </div>
    				</div>
    				<div class="control-group" id="age_limit_wrapper">
    				  <label for="age_limit" class="control-label">Age Limit: <span class="form-required" title="This field is required.">*</span></label>
    				  <div class="controls">
    				    <select required="True" class="input-xlarge" name="age_limit" id="age_limit">
    				     <option {% if age_limit[0] == "0" %} selected="true" {% endif %} value="0">None</option>
    				     <option {% if age_limit[0] == "18" %} selected="true" {% endif %} value="18">18 &amp; Up</option>
    				     <option {% if age_limit[0] == "21" %} selected="true" {% endif %} value="21">21 &amp; Up</option>
    				    </select>
    				  </div>
    				</div>
    				<div class="control-group" id="capacity_wrapper">
    				  <label for="capacity" class="control-label">Capacity:</label>
    				  <div class="controls">
    				    <input type="text" class="input-xlarge" placeholder="" name="capacity" id="capacity" value="{{capacity[0]}}">
    				  </div>
    				</div>
    				<div class="clearfix"></div>
    				<div class="control-group">
      			  <label for="file_upload" class="control-label"><b>Venue Picture</b> - <i style="color:red;">Must be less than 1MB in Size</i></label>
				  <p>Note: Images are centered and cropped for consistency.  For best results, smaller images with content centered work the best.</p>
      			  <div class="controls">
      			    <input type="file" class="input-file" name="file_upload" id="file_upload">
      			  </div>
				<div class ="warning">{{picture_error}}</div>
      			</div>
    				<br>
            <input class="btn btn-primary" type="submit" {% if user %} value="Update Profile" {% else %} value="Sign Up" {% endif %} />
            {% if user %}<input class="btn btn-deemphasize" type="button" onclick="location='/venue_profile'" value="Cancel" /> {% endif %}
  				</fieldset>
				</form>
			</div>
		</div>
    {% include 'footer.html' %}
  </div>
</body>
</html>





 

