<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  {% include 'common_links.inc' %}
	<title>signup_fan</title>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
  <div id="page">
    {% include 'header.html' %}
    <div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h1>Sign Up to Showtown</h1>
				<p>Sign up to ShowTown as a fan <strong>to vote on match ups</strong> and <strong>follow your favorite artists.</strong></p>
				<br>
				<form class="form-horizontal" action="/signup" method="POST">
				  <input type="hidden" name="user_type" value="fan">
					<fieldset>
						<p class="float_left">Signup Using Your Social Media Account</p>
						<a href="#" class="btn btn-default float_left">Twitter</a>
						<a href="#" class="btn btn-default float_left">Facebook</a>
						<a href="#" class="btn btn-default float_left">Google+</a>
					</fieldset>
					<br>
  				<fieldset>
					<div class ="warning">{{error}}</div>
    				<div class="control-group" id="email_wrapper">
    				  <label for="email" class="control-label">Email</label>
    				  <div class="controls">
    				    <input type="text" required="" class="input-xlarge" placeholder="email@domain.com" name="email" id="email" value="{{email[0]}}">
    				  </div>
					<div class ="warning">{{email_error}}</div>
    				</div>
    				<div class="control-group" id="dob_wrapper">
    				  <label for="dob" class="control-label">Date of Birth</label>
    				  <div class="controls">
    				    <input type="text" class="input-xlarge" placeholder="MM/DD/YYYY" name="dob" id="dob" value ="{{dob[0]}}">
    				  </div>
					<div class ="warning">{{dob_error}}</div>
    				</div>
    				<div class="clearfix"></div>
    				<div class="control-group" id="password_wrapper">
    				  <label for="password" class="control-label">Password</label>
    				  <div class="controls">
    				    <input type="password" class="input-xlarge" placeholder="" name="password" id="password">
    				    <p class="help-block">Type in password</p>
    				  </div>
    				</div>
    				<div class="control-group" id="conf_password_wrapper">
    				  <label for="conf_password" class="control-label">&nbsp;</label>
    				  <div class="controls">
    				    <input type="password" class="input-xlarge" placeholder="" name="conf_password" id="conf_password">
    				    <p class="help-block">Confirm password</p>
    				  </div>
					<div class="warning">{{passwords_error}}</div>
    				</div>
    				<div class="clearfix"></div>
    				<div class="control-group">
    				  <label for="checkboxes" class="control-label">Favorite Genre(s)</label>
    				  <div class="controls">
    				    <ul id="favorite_genres">
      				    <li><label for="checkboxes" class="checkbox">
      				      <input type="checkbox" value="Alternative" name="checkboxes">
      				        Alternative </label></li>
      		        <li><label for="checkboxes" class="checkbox">
      				      <input type="checkbox" value="Blues" name="checkboxes">
      				        Blues </label></li>
      		        <li><label for="checkboxes" class="checkbox">
      				      <input type="checkbox" value="Classical" name="checkboxes">
      				        Classical </label></li>
      		        <li><label for="checkboxes" class="checkbox">
      				      <input type="checkbox" value="Country" name="checkboxes">
      				        Country </label></li>
      		        <li><label for="checkboxes" class="checkbox">
      				      <input type="checkbox" value="Dance" name="checkboxes">
      				        Dance </label></li>
      		        <li><label for="checkboxes" class="checkbox">
      				      <input type="checkbox" value="Easy Listening" name="checkboxes">
      				        Easy Listening</label></li>
      		        <li><label for="checkboxes" class="checkbox">
      				      <input type="checkbox" value="Electronic" name="checkboxes">
      				        Electronic</label></li>
      		        <li><label for="checkboxes" class="checkbox">
      				      <input type="checkbox" value="Hip Hop / Rap" name="checkboxes">
      				        Hip-Hop/Rap</label></li>
      		        <li><label for="checkboxes" class="checkbox">
      				      <input type="checkbox" value="Classical" name="checkboxes">
      				        Classical</label></li>
      		        <li><label for="checkboxes" class="checkbox">
      				      <input type="checkbox" value="Industrial" name="checkboxes">
      				        Industrial</label></li>
      		        <li><label for="checkboxes" class="checkbox">
      				      <input type="checkbox" value="Instrumental" name="checkboxes">
      				        Instrumental</label></li>
      		        <li><label for="checkboxes" class="checkbox">
      				      <input type="checkbox" value="Jazz" name="checkboxes">
      				        Jazz</label></li>
      		        <li><label for="checkboxes" class="checkbox">
      				      <input type="checkbox" value="Pop" name="checkboxes">
      				        Pop</label></li>
      		        <li><label for="checkboxes" class="checkbox">
      				      <input type="checkbox" value="Rock" name="checkboxes">
      				        Rock</label></li>
      		        <li><label for="checkboxes" class="checkbox">
      				      <input type="checkbox" value="Singer/Songwriter" name="checkboxes">
      				        Singer/Songwriter</label>
      		        <li><label for="checkboxes" class="checkbox">
      				      <input type="checkbox" value="Vocal" name="checkboxes">
      				        Vocal</label></li>
      				  </ul>
    				  </div>
  				  </div>
  				  <div class="clearfix"></div>
  				  <br>
            <input class="btn btn-primary" type="submit" value="Sign Up" />
  				</fieldset>
				</form>
			</div>
		</div>
    {% include 'footer.html' %}
  </div>
</body>
</html>





 

