<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  {% include 'common_links.inc' %}
	<title>Edit your Showtown Profile</title>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
  <div id="page">
    {% include 'header.html' %}
    <div class="row">
			<div class="col-lg-8 col-lg-offset-2">
			  {% if add %}
				<h1>List a Gig</h1>
				{% else %}
				<h1>Edit Gig</h1>
				{% endif %}
				<hr>
				<p>Find and book musicians by listing gigs on ShowTown.</p>
				<br>
				<form class="form-horizontal" action="/venue_add_edit_gig" method="POST">
				  {% if add %}
				  <input type="hidden" name="op" value="add">
				  {% else %}
				  <input type="hidden" name="op" value="edit">
				  <input type="hidden" name="id" value="{% if gig %}{{gig.key.urlsafe()}}{% endif %}">
				  {% endif %}
  				<fieldset>
  				<legend>Gig Details</legend>
    				<div class="control-group">
    				  <label for="textinput" class="control-label">Gig Name</label>
    				  <div class="controls">
    				    <input type="text" class="input-xlarge" placeholder="" name="gig_name" id="textinput" value = "{% if gig %}{{gig.gig_name}}{% endif %}">
    				  </div>
    				</div>
    				<div class="control-group">
    				  <label for="Date" class="control-label">Date</label>
    				  <div class="controls">
    				    <input type="text" class="input-xlarge" placeholder="MM/DD/YYYY" name="event_date" id="date" value ="{% if gig %}{{gig.event_date.strftime('%m/%d/%Y')}}{% endif %}">
    				  </div>
    				</div>
    				<div class="control-group">
    				  <label for="textinput" class="control-label">Start Time</label>
    				  <div class="controls">
    				    <select class="input-xlarge" name="start_time_hour">
    				      <option{% if gig %}{% if gig.start_time_hour == "1" %} selected="true"{% endif %}{% endif %}>1</option>
    				      <option{% if gig %}{% if gig.start_time_hour == "2" %} selected="true"{% endif %}{% endif %}>2</option>
    				      <option{% if gig %}{% if gig.start_time_hour == "3" %} selected="true"{% endif %}{% endif %}>3</option>
    				      <option{% if gig %}{% if gig.start_time_hour == "4" %} selected="true"{% endif %}{% endif %}>4</option>
    				      <option{% if gig %}{% if gig.start_time_hour == "5" %} selected="true"{% endif %}{% endif %}>5</option>
    				      <option{% if gig %}{% if gig.start_time_hour == "6" %} selected="true"{% endif %}{% endif %}>6</option>
    				      <option{% if gig %}{% if gig.start_time_hour == "7" %} selected="true"{% endif %}{% endif %}>7</option>
    				      <option{% if gig %}{% if gig.start_time_hour == "8" %} selected="true"{% endif %}{% endif %}>8</option>
    				      <option{% if gig %}{% if gig.start_time_hour == "9" %} selected="true"{% endif %}{% endif %}>9</option>
    				      <option{% if gig %}{% if gig.start_time_hour == "10" %} selected="true"{% endif %}{% endif %}>10</option>
    				      <option{% if gig %}{% if gig.start_time_hour == "11" %} selected="true"{% endif %}{% endif %}>11</option>
    				      <option{% if gig %}{% if gig.start_time_hour == "12" %} selected="true"{% endif %}{% endif %}>12</option>
    				    </select> : 
    				    <select class="input-xlarge" name="start_time_minutes">
    				      <option{% if gig %}{% if gig.start_time_minutes == "0" %} selected="true"{% endif %}{% endif %}>0</option>
    				      <option{% if gig %}{% if gig.start_time_minutes == "15" %} selected="true"{% endif %}{% endif %}>15</option>
    				      <option{% if gig %}{% if gig.start_time_minutes == "30" %} selected="true"{% endif %}{% endif %}>30</option>
    				      <option{% if gig %}{% if gig.start_time_minutes == "45" %} selected="true"{% endif %}{% endif %}>45</option>
    				    </select>&nbsp;
    				    <select class="input-xlarge" name="start_time_am_pm">
    				      <option{% if gig %}{% if gig.start_time_am_pm == "AM" %} selected="true"{% endif %}{% endif %}>AM</option>
    				      <option{% if gig %}{% if gig.start_time_am_pm == "PM" %} selected="true"{% endif %}{% endif %}>PM</option>
    				    </select>
    				  </div>
  				  </div>
    				<div class="control-group">
    				  <label for="textinput" class="control-label">End Time</label>
    				  <div class="controls">
    				    <select class="input-xlarge" name="end_time_hour">
    				      <option{% if gig %}{% if gig.end_time_hour == "1" %} selected="true"{% endif %}{% endif %}>1</option>
    				      <option{% if gig %}{% if gig.end_time_hour == "2" %} selected="true"{% endif %}{% endif %}>2</option>
    				      <option{% if gig %}{% if gig.end_time_hour == "3" %} selected="true"{% endif %}{% endif %}>3</option>
    				      <option{% if gig %}{% if gig.end_time_hour == "4" %} selected="true"{% endif %}{% endif %}>4</option>
    				      <option{% if gig %}{% if gig.end_time_hour == "5" %} selected="true"{% endif %}{% endif %}>5</option>
    				      <option{% if gig %}{% if gig.end_time_hour == "6" %} selected="true"{% endif %}{% endif %}>6</option>
    				      <option{% if gig %}{% if gig.end_time_hour == "7" %} selected="true"{% endif %}{% endif %}>7</option>
    				      <option{% if gig %}{% if gig.end_time_hour == "8" %} selected="true"{% endif %}{% endif %}>8</option>
    				      <option{% if gig %}{% if gig.end_time_hour == "9" %} selected="true"{% endif %}{% endif %}>9</option>
    				      <option{% if gig %}{% if gig.end_time_hour == "10" %} selected="true"{% endif %}{% endif %}>10</option>
    				      <option{% if gig %}{% if gig.end_time_hour == "11" %} selected="true"{% endif %}{% endif %}>11</option>
    				      <option{% if gig %}{% if gig.end_time_hour == "12" %} selected="true"{% endif %}{% endif %}>12</option>
    				    </select> : 
    				    <select class="input-xlarge" name="end_time_minutes">
    				      <option{% if gig %}{% if gig.end_time_minutes == "0" %} selected="true"{% endif %}{% endif %}>0</option>
    				      <option{% if gig %}{% if gig.end_time_minutes == "15" %} selected="true"{% endif %}{% endif %}>15</option>
    				      <option{% if gig %}{% if gig.end_time_minutes == "30" %} selected="true"{% endif %}{% endif %}>30</option>
    				      <option{% if gig %}{% if gig.end_time_minutes == "45" %} selected="true"{% endif %}{% endif %}>45</option>
    				    </select>&nbsp;
    				    <select class="input-xlarge" name="end_time_am_pm">
    				      <option{% if gig %}{% if gig.end_time_am_pm == "AM" %} selected="true"{% endif %}{% endif %}>AM</option>
    				      <option{% if gig %}{% if gig.end_time_am_pm == "PM" %} selected="true"{% endif %}{% endif %}>PM</option>
    				    </select>
    				  </div>
    				</div>
    				<div class="control-group">
    				  <label for="prependedtext" class="control-label">Compensation</label>
    				  <div class="controls">
    				    <div class="input-prepend">
    				      <span class="add-on">$</span>
    				      <input type="text" placeholder="" class="input-xlarge" name="compensation" id="prependedtext" value ="{% if gig %}{{gig.compensation}}{% endif %}">
    				    </div>
    				  </div>
    				</div>
    				<div class="control-group">
    				  <label for="checkboxes" class="control-label">Equipment Required</label>
    				  <div class="controls">
    				    <label for="checkboxes-0" class="checkbox inline">
    				      <input type="checkbox" value="Yes" id="checkboxes-0" name="equipment">
    				      Yes
    				    </label>
    				  </div>
    				</div>
    				<div class="control-group">
    				  <label for="checkboxes" class="control-label">Genre(s)</label>
    				  <div class="controls">
    				    <label for="checkboxes-0" class="checkbox">
    				      <input type="checkbox" value="Option one" id="checkboxes-0" name="genre">
    				      Option one
    				    </label>
    				    <label for="checkboxes-1" class="checkbox">
    				      <input type="checkbox" value="Option two" id="checkboxes-1" name="checkboxes">
    				      Option two
    				    </label>
    				  </div>
    				</div>
    				<div class="control-group">
    				  <label for="selectbasic" class="control-label">Locality</label>
    				  <div class="controls">
    				    <select class="input-xlarge" name="locality" id="selectbasic">
    				      <option>Local</option>
    				      <option>Touring</option>
    				      <option>Either</option>
    				    </select>
    				  </div>
    				</div>
    				<div class="control-group">
    				  <label for="textarea" class="control-label">Brief Description</label>
    				  <div class="controls">                     
    				    <textarea name="description" id="textarea">{% if gig %}{{gig.description}}{% endif %}</textarea>
    				  </div>
    				</div>
    				<br>
    				<input class="btn btn-primary" type="submit" value="{% if gig %}Update{% else %}Add{% endif %} Gig" />
  				</fieldset>
				</form>
			</div>
		</div>
    {% include 'footer.html' %}
  </div>
</body>
</html>





 

