<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  {% include 'common_links.inc' %}
	{% if gig %}
	<title>Edit gig</title>
	{% else %}
	<title>Edit your Showtown Profile</title>
	{% endif %}
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
  <div id="page">
    {% include 'header.html' %}
    <div class="row">
			<div class="col-lg-8 col-lg-offset-2">
			  {% if gig %}
				<h1>Edit Gig</h1>
				{% else %}
				<h1>List a Gig</h1>
				<hr>
				<p>Find and book musicians by listing gigs on ShowTown.</p>
				{% endif %}
				<br>
				<form class="form-horizontal" action="/venue_add_edit_gig" method="POST">
				 {% if gig %} <input type="hidden" name="id" value="{{gig.key.urlsafe()}}">{% endif %}
  				<fieldset>
  				<legend>Gig Details</legend>
    				<div class="control-group">
    				  <label for="textinput" class="control-label">Gig Name</label>
    				  <div class="controls">
    				    <input type="text" class="input-xlarge" placeholder="" name="gig_name" id="textinput" value = "{{gig_name}}">
    				  </div>
    				</div>
    				<div class="control-group">
    				  <label for="Date" class="control-label">Date</label>
    				  <div class="controls">
    				    <input type="text" class="input-xlarge" placeholder="MM/DD/YYYY" name="event_date" id="date" value ="{{event_date}}">
    				  </div>
					<div class="warning">{{date_error}}</div>
    				</div>
    				<div class="control-group">
    				  <label for="textinput" class="control-label">Start Time</label>
    				  <div class="controls">
    				    <select class="input-xlarge" name="start_time_hour">
    				      <option{% if start_time_hour == "01" %} selected="true"{% endif %}>01</option>
    				      <option{% if start_time_hour == "02" %} selected="true"{% endif %}>02</option>
    				      <option{% if start_time_hour == "03" %} selected="true"{% endif %}>03</option>
    				      <option{% if start_time_hour == "04" %} selected="true"{% endif %}>04</option>
    				      <option{% if start_time_hour == "05" %} selected="true"{% endif %}>05</option>
    				      <option{% if start_time_hour == "06" %} selected="true"{% endif %}>06</option>
    				      <option{% if start_time_hour == "07" %} selected="true"{% endif %}>07</option>
    				      <option{% if start_time_hour == "08" %} selected="true"{% endif %}>08</option>
    				      <option{% if start_time_hour == "09" %} selected="true"{% endif %}>09</option>
    				      <option{% if start_time_hour == "10" %} selected="true"{% endif %}>10</option>
    				      <option{% if start_time_hour == "11" %} selected="true"{% endif %}>11</option>
    				      <option{% if start_time_hour == "12" %} selected="true"{% endif %}>12</option>
    				    </select> : 
    				    <select class="input-xlarge" name="start_time_minutes">
    				      <option{% if start_time_minutes == "00" %} selected="true"{% endif %}>00</option>
    				      <option{% if start_time_minutes == "15" %} selected="true"{% endif %}>15</option>
    				      <option{% if start_time_minutes == "30" %} selected="true"{% endif %}>30</option>
    				      <option{% if start_time_minutes == "45" %} selected="true"{% endif %}>45</option>
    				    </select>&nbsp;
    				    <select class="input-xlarge" name="start_time_am_pm">
    				      <option{% if start_time_am_pm == "AM" %} selected="true"{% endif %}>AM</option>
    				      <option{% if start_time_am_pm == "PM" %} selected="true"{% endif %}>PM</option>
    				    </select>
    				  </div>
  				  </div>
    				<div class="control-group">
    				  <label for="textinput" class="control-label">End Time</label>
    				  <div class="controls">
    				    <select class="input-xlarge" name="end_time_hour">
    				      <option{% if end_time_hour == "01" %} selected="true"{% endif %}>01</option>
    				      <option{% if end_time_hour == "02" %} selected="true"{% endif %}>02</option>
    				      <option{% if end_time_hour == "03" %} selected="true"{% endif %}>03</option>
    				      <option{% if end_time_hour == "04" %} selected="true"{% endif %}>04</option>
    				      <option{% if end_time_hour == "05" %} selected="true"{% endif %}>05</option>
    				      <option{% if end_time_hour == "06" %} selected="true"{% endif %}>06</option>
    				      <option{% if end_time_hour == "07" %} selected="true"{% endif %}>07</option>
    				      <option{% if end_time_hour == "08" %} selected="true"{% endif %}>08</option>
    				      <option{% if end_time_hour == "09" %} selected="true"{% endif %}>09</option>
    				      <option{% if end_time_hour == "10" %} selected="true"{% endif %}>10</option>
    				      <option{% if end_time_hour == "11" %} selected="true"{% endif %}>11</option>
    				      <option{% if end_time_hour == "12" %} selected="true"{% endif %}>12</option>
    				    </select> : 
    				    <select class="input-xlarge" name="end_time_minutes">
    				      <option{% if end_time_minutes == "00" %} selected="true"{% endif %}>00</option>
    				      <option{% if end_time_minutes == "15" %} selected="true"{% endif %}>15</option>
    				      <option{% if end_time_minutes == "30" %} selected="true"{% endif %}>30</option>
    				      <option{% if end_time_minutes == "45" %} selected="true"{% endif %}>45</option>
    				    </select>&nbsp;
    				    <select class="input-xlarge" name="end_time_am_pm">
    				      <option{% if end_time_am_pm == "AM" %} selected="true"{% endif %}>AM</option>
    				      <option{% if end_time_am_pm == "PM" %} selected="true"{% endif %}>PM</option>
    				    </select>
    				  </div>
    				</div>
    				<div class="control-group">
    				  <label for="prependedtext" class="control-label">Compensation</label>
    				  <div class="controls">
    				    <div class="input-prepend">
    				      <span class="add-on">$</span>
    				      <input type="text" placeholder="" class="input-xlarge" name="compensation" id="prependedtext" value ="{{compensation}}">
    				    </div>
    				  </div>
    				</div>
    				<div class="control-group">
    				  <label for="checkboxes" class="control-label">Equipment Required</label>
    				  <div class="controls">
    				    <label for="checkboxes-0" class="checkbox inline">
    				      <input type="checkbox" value="Yes" id="checkboxes-0" name="equipment">
    				      Yes
    				    </label>
    				  </div>
    				</div>
    				<div class="control-group">
    				  <label for="checkboxes" class="control-label">Genre(s)</label>
    				  <div class="controls">
    				    <label for="checkboxes-0" class="checkbox">
    				      <input type="checkbox" value="Option one" id="checkboxes-0" name="genre">
    				      Option one
    				    </label>
    				    <label for="checkboxes-1" class="checkbox">
    				      <input type="checkbox" value="Option two" id="checkboxes-1" name="checkboxes">
    				      Option two
    				    </label>
    				  </div>
    				</div>
    				<div class="control-group">
    				  <label for="selectbasic" class="control-label">Locality</label>
    				  <div class="controls">
    				    <select class="input-xlarge" name="locality" id="selectbasic">
    				      <option {% if locality == "Local" %} selected="true"{% endif %}>Local</option>
    				      <option {% if locality == "Touring" %} selected="true"{% endif %}>Touring</option>
    				      <option {% if locality == "Either" %} selected="true"{% endif %}>Either</option>
    				    </select>
    				  </div>
    				</div>
    				<div class="control-group">
    				  <label for="textarea" class="control-label">Brief Description</label>
    				  <div class="controls">                     
    				    <textarea name="description" id="textarea">{{description}}</textarea>
    				  </div>
    				</div>
    				<br>
    				<input class="btn btn-primary" type="submit" value="{% if gig %}Update{% else %}Add{% endif %} Gig" />
  				</fieldset>
				</form>
			</div>
		</div>
    {% include 'footer.html' %}
  </div>
</body>
</html>





 

