<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  {% include 'common_links.inc' %}
	<title>Edit your Showtown Profile</title>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
  <div id="page">
    {% include 'header.html' %}
    <div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h1>Edit your Showtown Profile</h1>
				<form class="form-horizontal" action="/profile_edit" method="POST">
				  <input type="hidden" name="user_type" value="venue">
				  <fieldset>
    				<div class="control-group" id="venue_name_wrapper">
    				  <label for="venue_name" class="control-label">Venue Name</label>
    				  <div class="controls">
    				    <input type="text" class="input-xlarge" placeholder="" name="venue_name" id="venue_name" value="{{profile.venue_name}}">
    				  </div>
    				</div>
    				<div class="control-group" id="email_wrapper">
    				  <label for="email" class="control-label">Email</label>
    				  <div class="controls">
    				    <input type="text" required="" class="input-xlarge" placeholder="email@domain.com" name="email" id="email" value="{{profile.email}}">
    				  </div>
    				</div>
    				<div class="clearfix"></div>
    				<div class="control-group" id="password_wrapper">
    				  <label for="password" class="control-label">Password</label>
    				  <div class="controls">
    				    <input type="password" class="input-xlarge" placeholder="" name="password" id="password">
    				    <p class="help-block">Type in password</p>
    				  </div>
    				</div>
    				<div class="control-group" id="conf_password_wrapper">
    				  <label for="conf_password" class="control-label">&nbsp;</label>
    				  <div class="controls">
    				    <input type="password" class="input-xlarge" placeholder="" name="conf_password" id="conf_password">
    				    <p class="help-block">Confirm password</p>
    				  </div>
    				</div>
    				<div class="clearfix"></div>
    				<div class="control-group" id="address_wrapper">
    				  <label for="address" class="control-label">Address</label>
    				  <div class="controls">
    				    <input type="text" class="input-xlarge" placeholder="" name="address" id="address" value ="{{profile.address[0].address_1}}">
    				  </div>
    				</div>
    				<div class="control-group" id="address2_wrapper">
    				  <label for="address2" class="control-label">Address 2</label>
    				  <div class="controls">
    				    <input type="text" class="input-xlarge" placeholder="" name="address2" id="address2" value ="{{profile.address[0].address_2}}">
    				  </div>
    				</div>
    				<div class="clearfix"></div>
      			<div class="control-group" id="city_wrapper">
      			  <label for="city" class="control-label">City</label>
      			  <div class="controls">
      			    <input type="text" class="input-xlarge" placeholder="" name="city" id="city" value ="{{profile.address[0].city}}">
      			  </div>
      			</div>
      			<div class="control-group" id="state_wrapper">
      			  <label for="state" class="control-label">State</label>
      			  <div class="controls">
      			    <input type="text" class="input-xlarge" placeholder="" name="state" id="state" value ="{{profile.address[0].state}}">
      			  </div>
      			</div>
      			<div class="control-group" id="zip_wrapper">
      			  <label for="zip" class="control-label">Zipcode</label>
      			  <div class="controls">
      			    <input type="text" class="input-xlarge" placeholder="" name="zip" id="zip" value ="{{profile.address[0].zip}}">
      			  </div>
      			</div>
      			<div class="clearfix"></div>
      			<div class="control-group" id="phone1_wrapper">
      			  <label for="phone1" class="control-label">Phone number</label>
      			  <div class="controls">
      			    <input type="text" class="input-xlarge" placeholder="" name="phone1" id="phone1" value ="{{profile.phone}}">
      			  </div>
      			</div>
      			<div class="clearfix"></div>
    				<div class="control-group" id="venue_type_wrapper">
    				  <label for="venue_type" class="control-label">Venue Type</label>
    				  <div class="controls">
    				    <select class="input-xlarge" name="venue_type" id="venue_type">
    				      <option {% if profile.venue_type == "Bar" %}selected{% endif %}>Bar</option>
    				      <option {% if profile.venue_type == "Coffee Shop" %}selected{% endif %}>Coffee Shop</option>
    				      <option {% if profile.venue_type == "Concert House" %}selected{% endif %}>Concert House</option>
    				      <option {% if profile.venue_type == "Festival" %}selected{% endif %}>Festival</option>
    				      <option {% if profile.venue_type == "Restaurant" %}selected{% endif %}>Restaurant</option>
    				      <option {% if profile.venue_type == "Music Venue" %}selected{% endif %}>Music Venue</option>
    				      <option {% if profile.venue_type == "Nightclub" %}selected{% endif %}>Nightclub</option>
    				      <option {% if profile.venue_type == "Other" %}selected{% endif %}>Other</option>
    				    </select>
    				  </div>
    				</div>
    				<div class="control-group" id="age_limit_wrapper">
    				  <label for="age_limit" class="control-label">Age Limit</label>
    				  <div class="controls">{{profile.venue_age_limit}}
    				    <select class="input-xlarge" name="age_limit" id="age_limit">
    				      <option value="0" {% if profile.age_limit == "0" %}selected{% endif %}>None</option>
    				      <option value="18" {% if profile.age_limit == "18" %}selected{% endif %}>18 &amp; Up</option>
    				      <option value="21" {% if profile.age_limit == "21" %}selected{% endif %}>21 &amp; Up</option>
    				    </select>
    				  </div>
    				</div>
    				<div class="control-group" id="capacity_wrapper">
    				  <label for="capacity" class="control-label">Capacity</label>
    				  <div class="controls">
    				    <input type="text" class="input-xlarge" placeholder="" name="capacity" id="capacity" value ="{{profile.capacity}}">
    				  </div>
    				</div>
    				<div class="clearfix"></div>
    				<div class="control-group">
      			  <label for="file_upload" class="control-label">Venue Picture</label>
      			  <div class="controls">
      			    <input type="file" class="input-file" name="file_upload" id="file_upload">
      			  </div>
      			</div>
    				<br>
            <input class="btn btn-primary" type="submit" value="Save" />
  				</fieldset>
				</form>
			</div>
		</div>
    {% include 'footer.html' %}
  </div>
</body>
</html>





 

