<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  {% include 'common_links.inc' %}
  <script src="javascript/venues.js"></script>
	<title>{{venue_name}}</title>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
  <div id="page">
    {% include 'header.html' %}
    <h1 class="pull-left">{{venue_name}} <small>{{venue_type}}</small></h1>
    <h1 class="pull-right">
      <a href="/venue_profile_edit" class="btn btn-primary">Follow {{venue_name}}</a>
    </h1>
    <div class="clearfix"></div>
		<hr/>
		<div class="row">
      <div class="col-lg-4">
        <img src="{{venue_pic_url}}">
      </div>        
      <div class="col-lg-8">
  			<h4>About</h4>
  			<h5>{{venue_address}}</h5>
  			<p><strong>Ph:</strong> {{venue_phone}} | <strong>Web:</strong> <a href="{{venue_url}}" target="_blank">{{venue_url_text}}</a></p>
  			<br>
  			<h4>Details</h4>
  			<ul>
  				<li><strong>Venue Type:</strong> {{venue_type}}</li>
  				<li><strong>Age Limit:</strong> {{venue_age_limit}}</li>
  				<li><strong>Capacity:</strong> {{venue_capacity}} people</li>
  			</ul>
  			<br>
  		</div>
    </div>




    {% include 'footer.html' %}
  </div>
</body>
</html>





 

