<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  {% include 'common_links.inc' %}
  <script src="javascript/venues.js"></script>
	<title>{{venue_name}}</title>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
  <div id="page">
    {% include 'header.html' %}
	{% if venue %}
    <h1 class="pull-left">{{venue.venue_name}} <small>{{venue.venue_type}}</small></h1>
    <h1 class="pull-right">
      <a href="/venue_profile_edit" class="btn btn-primary">Follow {{venue.venue_name}}</a>
    </h1>
    <div class="clearfix"></div>
		<hr/>
		<div class="row">
      <div class="col-lg-4">
        <img src="/imgs?id={{venue.key.urlsafe()}}&width=310&height=219">
      </div>        
      <div class="col-lg-8">
  			<h4>About</h4>
  			<h5>{{venue.venue_address}}</h5>
  			<p><strong>Ph:</strong> {{venue.phone}} | <strong>Web:</strong> <a href="{{venue.venue_url}}" target="_blank">{{venue.venue_name}}</a></p>
  			<br>
  			<h4>Details</h4>
  			<ul>
  				<li><strong>Venue Type:</strong> {{venue.venue_type}}</li>
  				<li><strong>Age Limit:</strong> {{venue.age_limit}}</li>
  				<li><strong>Capacity:</strong> {{venue.capacity}} people</li>
  			</ul>
  			<br>
  		</div>
    </div>
	{% else %}
	<p>Look's like something went wrong, please go back and try again</p>
	{% endif %}



    {% include 'footer.html' %}
  </div>
</body>
</html>




 

