<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  {% include 'common_links.inc' %}
  <script src="javascript/venues.js"></script>
	<title>{{venue_name}}</title>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
  <div id="page">
    {% include 'header.html' %}
    <h1 class="pull-left">{{venue_name}} <small>{{venue_type}}</small></h1>
    <h1 class="pull-right">
      <a href="/signup_venue" class="btn btn-default">Edit Profile</a>
      <a href="/venue_add_edit_gig" class="btn btn-primary">Post Gig</a>
    </h1>
    <div class="clearfix"></div>
		<hr/>
		<div class="row">
      <div class="col-lg-4">
        <img src="/imgs?id={{venue.key.urlsafe()}}&width=310&height=219">
      </div>        
      <div class="col-lg-8">
  			<h4>About</h4>
  			<h5>{{venue_address}}</h5>
  			<p><strong>Ph:</strong> {{venue_phone}} | <strong>Web:</strong> <a href="{{venue_url}}" target="_blank">{{venue_url_text}}</a></p>
  			<br>
  			<h4>Details</h4>
  			<ul>
  				<li><strong>Venue Type:</strong> {{venue_type}}</li>
  				<li><strong>Age Limit:</strong> {{venue_age_limit}}</li>
  				<li><strong>Capacity:</strong> {{venue_capacity}} people</li>
  			</ul>
  			<br>
  		</div>
    </div>
    <div class="row">
			<div class="col-lg-12">
			  <h4>Available Gigs</h4>
				<table class="table gigs">
				<thead>
					<tr>
						<th id="gig_name">Gig Name</th>
						<th>Date / Time <b class="caret"></b></th>
						<th>Details</th>
						<th>Compensation</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
				  {% if available_gigs %}
				  {% for ag in available_gigs %}
					<tr>
						<td>{{ag.gig_name}}<br><a href="/venue_add_edit_gig?id={{ag.key.urlsafe()}}">Edit</a> | <a href="/delete_gig?id={{ag.key.urlsafe()}}">Delete</a></td>
						<td><strong>{{ag.event_date}}</strong><br> {{ag.start_time}}</td>
						<td>
							<ul>
							  {% for d in ag.detail_list %}
								<li><strong>{{d}}</strong></li>
								{% endfor %}
								<li><strong>Genres:</strong> {% for g in ag.genres %} {{g}} {% endfor %}</li>
							</ul>
							<p>{{ag.description}}</p>
						</td>
						<td>${{ag.compensation}}</td>
						<td>
							<a class="btn btn-default signup" href="/venue_profile_applicants?id={{ag.key.urlsafe()}}">{{ag.applicants | count}} Applicants</a></td>
					</tr>
					{% endfor %}
				</tbody>
				{% else %}
				<p>No Current Gigs</p>
				{% endif %}
				</table>
				
				<hr>
				<p class="pull-right"><a class="btn btn-primary" href="/venue_add_edit_gig">Post Another Gig</a></p>
      </div>
		</div>
    {% include 'footer.html' %}
  </div>
</body>
</html>





 

